<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1.html">
<head>
<meta charset="utf-8">
<title>MyDoc</title>
</head>
<body>
	<div layout:fragment="pageContent"
		class="d-flex justify-content-center">
<div class="card">
<div class="card-header">
<h3 class="text-success">Veuillez se connecter</h3>
</div>
<div class="card-body">
<div th:if="${param.error}" class="text-danger">Mot de passe erroné </div>
<form th:action="@{login}" method="post">

<div class="form-group">
<label class="font-weight-bold control-label">Nom d'utilisateur </label>
<input type="text" name="username"  class="form-control" >
</div>

<div class="form-group">
<label class="font-weight-bold control-label">Mot de passe </label>
<input type="password" name="password"  class="form-control">
</div>
<div class="d-flex justify-content-center mt-5">
<button class="btn btn-success">Se connecter</button>
</div>

</form>
</div>

</div>
	</div>
</body>
</html>